/compiler
/include/*
/.vscode
*.amx
!/include/requests.inc
!/include/PawnPlus.inc
!/include/http_methods.inc
!/include/status_codes.inc
!/include/serverLog.inc
/components
bans.json
config.json
*.exe
*.pdb
/plugins
scriptfiles/webhook.ini

log.txt
log.txt
/scriptfiles/serverLog
